<div class="container" id="fondo">
    <div class="row" id="cabecera">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"> </th>
                <th scope="col"> CONCEPTO </th>
                <th scope="col"> CANTIDAD </th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> </td>
                <th>FLETE </th>
                <td>$ </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <th>SEGURO </th>
                <td>$ </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <th>SUBTOTAL </th>
                <td>$ </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <th>IVA </th>
                <td>$ </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <th>TOTAL </th>
                <td>$ </td>
                <td> </td>
            </tr>
        </tbody>
    </table>
</div>